<apex:page controller="MyController" renderAs="pdf" applyBodyTag="false">
<head>
  <style>
    @page { 
        margin: 10px; 
    }
    body {
        width: 100%;
        font: "Times New Roman", Times, serif; 
        font-size: 14px; 
        line-height: 1.2em;
    }
    
    p{
        width: auto;
     }
    
    /*The header*/
    header{
        width: 100%;
        height: auto;
        margin: 10px 10px 20px 10px;
    }
    img{ 
        margin-bottom: 5px;
    }
    #name { 
        text-align: center; 
        width: 500px;  
    }
    .employeeName { 
        font: bold 16px; 
    }
    .employeeName table{
        width: 500px;
     } 
    
    /*Main content styles*/
    #wrapper{
        width: auto;
        height: auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    aside { 
        width: 200px;
        padding: 0 10px 0 10px;
        background-color: #e5e5e5;
        font-weight: 500;  
    }
    section{
        width: 70%;
        height: auto;
     }
     .section-table{
         width: 550px;
      }
    
    .floatLeft{
        float: left;
    }
    
    .floatRight{
        float: right;
    }
    
    .clear{
        clear: both;
     }
    
    .SectionHeaders { 
        font: bold 14px; 
    }

    #history { 
        vertical-align: top;
    }
   </style>
</head>

<body>
    <header>
        <div class="floatLeft">
            <apex:image id="essLogo" value="{!$Resource.esslogo}" width="200" height="40"/>
        </div>
        <div id="name" class="floatRight">
            <apex:outputText value="{!Resume.First_Name__c} {!Resume.Middle_Name__c} {!Resume.Last_Name__c}" styleClass="employeeName"/>
            <apex:dataTable value="{!project}" var="a" styleClass="employeeName">
                <apex:column width="500px">
                    <apex:outputtext value="{!a.Position_Title__c}" rendered="{!a.Current_Position__c}"/> 
                </apex:column>
            </apex:dataTable>
         </div>
    </header>
    
   <div id="wrapper">
   <aside class="floatLeft">
   <p>                               
    <b>Security Clearance:</b><br />
    <apex:outputText value="{!Resume.Clearance__c} with {!Resume.Polygraph__c} poly"/>
   </p>
   <p>
    <apex:repeat value="{!MySkills}" var="a">
        <b>{!a.value1}:</b><br/>
        <apex:repeat value="{!a.value2}" var="b">
        {!b.SkillName__r.Name__c}&nbsp;{!b.Skill_Level__c}
        <br/>
        </apex:repeat>
        <br/>
    </apex:repeat>
   </p> 
   </aside>
   
   <section class="floatRight">
   <apex:outputText value="Employment History" styleClass="SectionHeaders"/>
      <apex:dataTable value="{!project}" var="a" styleClass="section-table">
          <apex:column >
          <apex:pageBlock >
               <apex:pageblockSection columns="2"> 
                   <apex:outputText value="{!a.Position_Title__c}, {!a.Company__c}" />   
              </apex:pageblockSection>
              <apex:pageblockSection >
                  <apex:outputText value="{!a.Project_Start__c} - {!a.End_Date__c}" rendered="{!(!a.Current_Position__c)}" />
                  <apex:outputtext value="{!a.Project_Start__c} - Present" rendered="{!a.Current_Position__c}" />
              </apex:pageblockSection>
           </apex:pageBlock>
           <p>
              <apex:outputfield value="{!a.Description__c}"/>
           </p>
          </apex:column>
      </apex:dataTable>

     <p>
     <apex:outputText value="Education" styleClass="SectionHeaders"/>
     <apex:dataTable columns="1" value="{!edu}" var="a" styleClass="section-table">
              <apex:column >
              <apex:outputText value="{!a.Degree_Recieved__c}, {!a.Field_Of_Study__c}, {!a.School__c}, {!a.Graduation_Date__c} "/> <br />
              <apex:outputText value="{!a.City__c}, {!a.State__c} "/>
              </apex:column>
      </apex:dataTable>
      </p>
           
      <p>
      <apex:outputText value="Certifications" styleClass="SectionHeaders"/>
      <apex:dataTable columns="3" value="{!Cert}" var="a" styleClass="section-table">
          <apex:column width="75px">
          <apex:outputfield value="{!a.CertificationName__r.Name__c}"/>
          </apex:column>
          <apex:column width="75px">
          #<apex:outputfield value="{!a.Certification_ID__c}" />
          </apex:column>
          <apex:column width="75px">
          <apex:outputfield value="{!a.Date_Received__c}"/>
          </apex:column>
      </apex:dataTable>
      </p>
      
    </section>
   </div> 
  </body>
</apex:page>