<apex:page sidebar="false" controller="GapAnalysis" tabStyle="Market_Research__tab">
<style>
        /*Style for main table that wraps content*/
        #main { 
            width: auto; 
            height: 100%;
            padding: 10px;
            background-color: #e8fafc;
            border: solid 3px #27aae1;
            border-radius: 15px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            line-height: 1.5em;
        }
        #main h1 {
            font-family:"Arial Black", Gadget, sans-serif;
            font-size: 36px;
            color: #27aae1;
        }
        #main h2 {
            font-family:"Arial Black", Gadget, sans-serif;
            font-size: 24px;
            color: #27aae1;
        }
        
        /*Style for table data in the main table*/
        .content-box{
            margin: 5px;
            padding-top: 5px;
            border: solid 3px #27aae1;
            border-radius: 15px;
            background-color: white;
         } 
         .inner-content-box{
             background-color: none !important;
             border-top: none !important;
         }

         /*Style for buttons*/
         .skillflow-btn{
             transition: all 0.5s ease;
             padding-left: 2px !important;
             padding-right: 2px !important;
             background: #27aae1 !important;
             color: white !important;
             border: none !important;
             border-radius: 5px !important;
             box-shadow: 2px 2px 5px #a0a1a1;
             
         }
         .skillflow-btn:hover{
            background: #e8fafc !important;
            color: #27aae1 !important;
            border-bottom: solid 3px #27aae1 !important;
            border-right: solid 3px #27aae1 !important;  
         }
         
         /*Style for text input*/
         .skillflow-text-input{
             padding:3px !important;
             margin: 0 !important;
             -webkit-border-radius: 5px !important;
             -moz-border-radius: 5px !important;
             border-radius: 5px !important;
             -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset !important;
             -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset !important;
             box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset !important;
             background: #F4F4F4 !important; 
             color: black !important;
             font-size: 16px;
             border: none !important;
         }

        /*Note same as content-box class*/
        .bPageBlock {
            margin: 5px !important;
            padding-top: 5px !important;
            border: solid 3px #27aae1 !important;
            border-radius: 15px !important;
             background-color: white !important;
         }

         body .apexp .pbBody table.list{
             border: 1px solid #CCCCCC !important;
             border-style: thin !important;
             box-shadow: 1px 1px 2px #a0a1a1;
         }
</style>

<apex:form >
<div id="main">
<table width="100%" >
    <tr>   
        <td>
        <apex:pageBlock title="Edit Line of Business">
        <apex:pageBlockSection id="MyNewSkill">
            <apex:outputText value="{!$CurrentPage.parameters.NewLine}" label="Current Line of Business:"/>
        <p></p>
              <apex:SelectList size="1" value="{!SelectedNewSkillCategoryName}" id="NewSkillCategory" styleClass="skillflow-text-input">
                  <apex:SelectOptions value="{!SkillCategoryNames}"/>
                  <apex:actionSupport event="onchange" reRender="MyNewSkill" />
              </apex:SelectList>
        <p/>
              <apex:SelectList size="1" value="{!SelectedNewSkillName}" id="NewSkillName"  styleClass="skillflow-text-input">
                  <apex:SelectOptions value="{!SkillNames}"/>
              </apex:SelectList>
        <p></p>
        <apex:commandButton action="{!AddSkill}" value="Add Skill" styleClass="skillflow-btn"/>
        </apex:pageBlockSection>
        </apex:pageBlock>
        </td>
        </tr>
        
        <tr>
        <td>
        <apex:pageBlock title="{!$CurrentPage.parameters.NewLine}">        
        <apex:pageBlockTable value="{!Skills}" var="a">
        <apex:column width="10px" >
            <apex:facet name="header">Delete</apex:facet>
            <apex:inputfield value="{!a.Delete__c}" />
        </apex:column>
    
        <apex:column width="125px">
            <apex:facet name="header">Category</apex:facet>
            <apex:outputfield value="{!a.Skills__r.SkillCategoryName__r.Name__c}" />
        </apex:column>

        <apex:column width="125px">
            <apex:facet name="header">Skill Name</apex:facet>
            <apex:outputfield value="{!a.Skills__r.Name__c}" />
        </apex:column>
        </apex:pageBlockTable>
        <p/>
            <apex:commandButton action="{!DeleteSkill}" value="Delete Skill" styleClass="skillflow-btn"/> &nbsp;&nbsp;
            <apex:commandButton action="{!save}" value="Run Report" styleClass="skillflow-btn" />
        </apex:pageBlock>
        </td>
        </tr>
</table>
</div>
</apex:form>
</apex:page>