<apex:page Controller="ModifyClassifications" sidebar="false" tabStyle="Modify_User__tab" >
    <style>
        /*Style for main table that wraps content*/
        #main { 
            width: auto; 
            height: 100%;
            padding: 10px;
            background-color: #e8fafc;
            border: solid 3px #27aae1;
            border-radius: 15px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            line-height: 1.5em;
        }
        #main h1 {
            font-family:"Arial Black", Gadget, sans-serif;
            font-size: 36px;
            color: #27aae1;
        }
        #main h2 {
            font-family:"Arial Black", Gadget, sans-serif;
            font-size: 24px;
            color: #27aae1;
        }
        
        /*Style for table data in the main table*/
        .content-box{
            margin: 5px;
            padding-top: 5px;
            border: solid 3px #27aae1;
            border-radius: 15px;
            background-color: white;
         } 
         .inner-content-box{
             background-color: none !important;
             border-top: none !important;
          }

         /*Style for buttons*/
         .skillflow-btn{
             transition: all 0.5s ease;
             padding-left: 2px !important;
             padding-right: 2px !important;
             background: #27aae1 !important;
             color: white !important;
             border: none !important;
             border-radius: 5px !important;
             box-shadow: 2px 2px 5px #a0a1a1;
             
         }
         .skillflow-btn:hover{
            background: #e8fafc !important;
            color: #27aae1 !important;
            border-bottom: solid 3px #27aae1 !important;
            border-right: solid 3px #27aae1 !important;  
         }
         
         /*Style for text input*/
         .skillflow-text-input{
             border: none !important;
             border-top: solid 2px #a0a1a1 !important;
             border-left: solid 2px #a0a1a1 !important; 
             border-radius: 5px !important;
             box-shadow: 2px 2px 5px #a0a1a1; 
         }

        /*Note same as content-box class*/
        .bPageBlock {
            margin: 5px !important;
            padding-top: 5px !important;
            border: solid 3px #27aae1 !important;
            border-radius: 15px !important;
             background-color: white !important;
         }

        body .apexp .pbBody table.list{
             border: 1px solid #CCCCCC !important;
             border-style: thin !important;
             box-shadow: 1px 1px 2px #a0a1a1;
         }

    
        .ct{
            text-align:center;
        }
    </style>
    <apex:form >
        <div id="main">
        <apex:PageBlock Title="Modify Existing User's Access" id="ClassTable" rendered="{!Classifications.System_Administrator__c}">
            <apex:PageBlockTable columns="6" value="{!ClassList}" var="Classification" style="text-align:center;">
                <apex:column headervalue="Name" headerClass="ct">
                    <apex:Outputtext value="{!Classification.FirstName} {!Classification.LastName}"/>
                </apex:column>
                <apex:column headervalue="Billable Employee" width="100px" headerClass="ct">
                    <apex:inputfield value="{!Classification.MyCurrentclassification.Billable_Employee__c}">
                        <apex:actionSupport event="onchange" reRender="resumeInfo" />
                    </apex:inputfield>
                </apex:column>
                <apex:column headervalue="Business Development" width="100px" headerClass="ct">
                    <apex:inputfield value="{!Classification.MyCurrentclassification.Bussiness_Development__c}"/>
                </apex:column>
                <apex:column headervalue="Executive" width="100px" headerClass="ct">
                    <apex:inputfield value="{!Classification.MyCurrentclassification.Executive__c}"/>
                </apex:column>
                <apex:column headervalue="Human Resources" width="100px" headerClass="ct">
                    <apex:inputfield value="{!Classification.MyCurrentclassification.Human_Resources__c}"/>
                </apex:column>
                <apex:column headervalue="System Administrator" width="100px" headerClass="ct">
                    <apex:inputfield value="{!Classification.MyCurrentclassification.System_Administrator__c}"/>
                </apex:column>
            </apex:PageBlockTable>
            <apex:pageblockbuttons location="bottom" dir="ltr" >
            <!--><apex:commandbutton style="width:60px" action="{!PreviousPage}" value="Previous" rerender="ClassTable" disabled="{!IF((page-1)>0, false, true)}"/>
                <apex:outputtext value="Page: {!page}"/>
                <apex:commandbutton style="width:60px" action="{!NextPage}" value="Next" rerender="ClassTable" disabled="{!IF((((page+1)*25)<TotalUsers), false, true)}"/><br/><-->
                <apex:commandButton action="{!Save}" Value="Save" rerender="ClassTable" styleClass="skillflow-btn"/>
            </apex:pageblockbuttons>
        </apex:PageBlock>
        <apex:pageblock rendered="{!(!Classifications.System_Administrator__c)}">
       <p>
           You are not a System Administrator so you do not have access to modify User's access to Skillflow. If this is wrong, please contact a System Administrator.
       </p>
   </apex:pageblock>
        </div>
    </apex:form>
</apex:page>